Repository hoprnet/hopr-admin, pull requests merged in 2023-11, with the labels that each got.

#452 Add the ABIs from hopr-sdk
  package.json
  src/abi/erc721-abi.json
  src/abi/hoprBoostNFTAbi.ts
  src/abi/multisendAbi.json
  src/abi/network-registry-abi.json
  src/abi/nodeManagementModuleAbi.ts
  src/abi/nodeSafeRegistryAbi.ts
  src/abi/nodeStakeFactoryAbi.json
  src/abi/safeAbi.json
  src/abi/wrapperAbi.json
  src/pages/staking-hub/dashboard/safe.tsx
  src/pages/staking-hub/safe.tsx
  src/pages/staking-hub/wrapper.tsx
  src/store/slices/safe/actionsAsync.ts
  src/store/slices/stakingHub/actionsAsync.ts
  src/store/slices/web3/actionsAsync.ts
  src/utils/blockchain.ts
  src/utils/safeTransactions.ts
  yarn.lock
Labels: enhancement, Staking Hub

#473 Document running docker image
  README.md
Labels: documentation, devops

#479 Update import of aliases to use async-await
  src/pages/node/aliases.tsx
Labels: bug, Node Admin
